# pycache
/src/__pycache__/

# results
/src/results/

# quadrature data
/src/quadrature/

# sparse operators
/src/sparse_operators/

# mass inverse
/src/mass/

# plotting
/plot/coeff/
/plot/figures/
/plot/__pycache__/
